{% extends 'base.html' %}

{% block title %}Home - Aunt Assist{% endblock %}

{% block content %}
<h2>Welcome to Aunt Assist</h2>
{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}! You are logged in as a {{ user.role }}.</p>
    <p><a href="{% url 'user_profile' user.username %}">View Profile</a></p>
    <p><a href="{% url 'contact_list' %}">Your Contacts</a></p>
    <p><a href="{% url 'message_list' %}">Your Messages</a></p>
{% else %}
    <p>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">sign up</a> to access your account.</p>
{% endif %}
{% endblock %}